<div class="resume-section font-medium text-zinc-900 mb-5">worked as.</div>
    <div class="border-l-2 mb-6 pl-4 hover:border-red-300 hover:cursor-default transition-all">
        <div class="flex flex-row justify-between">
            <div>
                <div class="text-base font-medium">Senior Software Engineer / Team Lead</div>
                <div class="link-wrapper flex gap-1 items-center text-sm">at,
                    <a class="link items-center justify-start !text-sm">
                        <span>Iamneo Edutech Pvt. Ltd.</span>
                        <app-link-arrow></app-link-arrow>
                    </a>
                </div>
            </div>
            <div class="text-sm text-zinc-500">
                Feb, 2023 - Present
            </div>
        </div>
        <div class="pl-4 pt-4">
            <ul>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Designed and implemented a notification system utilizing <span class="text-zinc-800">Redis Pub/Sub</span> and <span class="text-zinc-800">Server-Sent Events</span> and Service workers for seamless scalability.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Proficient in cloud services including AWS (S3, Route 53), GCP (Cloud Run, VM Instances, Cloud Functions, Pub/Sub, Google Kubernetes Engine) and Azure Kubernetes Services.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Led the refactoring of a project's codebase, optimizing for performance and maintainability.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Integrated GitHub and SonarCloud to monitor metrics, contributing to enhanced code quality and performance evaluation using Github Actions and Webhooks.</li>
            </ul>
        </div>
    </div>
    <div class="border-l-2 mb-6 pl-4 hover:border-red-300 hover:cursor-default transition-all">
        <div class="flex flex-row justify-between">
            <div>
                <div class="text-base font-medium">Software Engineer</div>
                <div class="link-wrapper flex gap-1 items-center text-sm">at,
                    <a class="link items-center justify-start !text-sm">
                        <span>Codeshastra Pvt. Ltd.</span>
                        <app-link-arrow></app-link-arrow>
                    </a>
                </div>
            </div>
            <div class="text-sm text-zinc-500">
                Jun, 2022 - Feb, 2023
            </div>
        </div>
        <div class="pl-4 pt-4">
            <ul>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Designed and implemented a notification system utilizing <span class="text-zinc-800">Redis Pub/Sub</span> and <span class="text-zinc-800">Server-Sent Events</span> for seamless scalability.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Proficient in cloud services including AWS (S3, Route 53), GCP (Cloud Run, VM Instances, Cloud Functions, Pub/Sub, Google Kubernetes Engine) and Azure Kubernetes Services.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Led the refactoring of a project's codebase, optimizing for performance and maintainability.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Integrated GitHub and SonarCloud to monitor metrics, contributing to enhanced code quality and performance evaluation using Github Actions and Webhooks.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Orchestrated proctoring solutions using AWS Rekognition, TensorFlowJs, PoseNet, and Python libraries for audio proctoring via Google's WebSpeech API.</li>
            </ul>
        </div>
    </div>
    <div class="border-l-2 mb-6 pl-4 hover:border-red-300 hover:cursor-default transition-all">
        <div class="flex flex-row justify-between">
            <div>
                <div class="text-base font-medium">Software Engineer</div>
                <div class="link-wrapper flex gap-1 items-center text-sm">at,
                    <a class="link items-center justify-start !text-sm">
                        <span>Iamneo Edutech Pvt. Ltd.</span>
                        <app-link-arrow></app-link-arrow>
                    </a>
                </div>
            </div>
            <div class="text-sm text-zinc-500">
                Apr, 2021 - Jun, 2022
            </div>
        </div>
        <div class="pl-4 pt-4">
            <ul>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Collaborated with teams to define data retention policies aligned with business requirements, ensuring cost-effective storage management.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Led a team of front-end developers to migrate a project from Angular to ReactJs, collaborate with multidisciplinary teams of engineers, designers and stakeholders on a daily basis.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Implemented intelligent object lifecycle policies in AWS S3, optimizing storage costs while maintaining accessibility.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Orchestrated proctoring solutions using AWS Rekognition, TensorFlowJs, PoseNet, and Python libraries for audio proctoring via Google's WebSpeech API.</li>
            </ul>
        </div>
    </div>
    <div class="border-l-2 mb-6 pl-4 hover:border-red-300 hover:cursor-default transition-all">
        <div class="flex flex-row justify-between">
            <div>
                <div class="text-base font-medium">Junior Software Engineer</div>
                <div class="link-wrapper flex gap-1 items-center text-sm">at,
                    <a class="link items-center justify-start !text-sm">
                        <span>Vetologic Technologies Pvt. Ltd.</span>
                        <app-link-arrow></app-link-arrow>
                    </a>
                </div>
            </div>
            <div class="text-sm text-zinc-500">
                Jan, 2020 - Apr, 2021
            </div>
        </div>
        <div class="pl-4 pt-4">
            <ul>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Developed and maintained code for in-house and client web apps primarily using Angular, Java - Spring Boot and Hibernate.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Migrated Java - Servlet - JSP finance application to modern Java 8 - Spring Boot - Angular application.</li>
                <li class="list-disc list-outside text-base text-zinc-500 pb-2">Worked closely with designers & management team to ideate, develop, document and manage SAAS products for the clients.</li>
            </ul>                    
        </div>
    </div>