<div class="my-6">
    <div class="resume-section font-medium text-zinc-900">about me.</div>
    <div class="text-sm font-normal text-zinc-500 mt-4 leading-6">
        <p>Full Stack Developer and DevOps enthusiast. I specialize in crafting
            systems that effortlessly grow, utilizing the latest tech for optimal performance. My strength
            lies in building strong, scalable structures that save resources.</p>
    </div>
    <div class="flex ">
        <a class="link items-center justify-start mt-3">
            <span>Resume</span>
            <app-link-arrow></app-link-arrow>
        </a>
    </div>
</div>