<div class="flex flex-row gap-6">
    <div class="w-[70%]">
        <h4 class="greetings text-4xl font-medium text-zinc-800">Helló, I'm {{heroData.name}}👋</h4>
        <div class="text-xl pt-5 font-normal text-zinc-500">
            {{heroData.shortDescription}}
        </div>
        <div class="text-sm font-normal text-zinc-500 pt-5 leading-6">
            <div [innerHTML]="heroData.about"></div>
        </div>
    </div>
    <div class="w-[30%] relative">
        <img class="rounded-full brightness-150" src="{{heroData.avatar}}" alt="avatar" />
        <div class="absolute flex justify-center items-center rounded-full overflow-hidden user-status">
            <p class="text-lg drop-shadow-lg">🖥️</p>
        </div>
    </div>
</div>
<div class="flex">
    <a class="link items-center justify-start" [routerLink]="'resume'" >
        <span>Resume</span>
        <app-link-arrow></app-link-arrow>
    </a>
</div>