@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  @apply bg-gray-100;
}

h1 {
  @apply text-3xl font-extrabold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-medium;
}

p {
  @apply text-base;
}

.greetings {
  font-family: 'Prata', cursive;
  @apply font-medium;
}

.link-wrapper {
  @apply text-zinc-700;
}

.link {
  @apply flex flex-row text-base text-zinc-700 gap-0.5 font-medium transition-all;
}

.link:hover {
  @apply text-zinc-900 cursor-pointer gap-1 transition-all;
}

.navbar {
  @apply flex flex-row items-center gap-4;
}

.nav-item {
  @apply flex flex-row items-center text-[#3273dc] cursor-pointer transition-all;

  &:hover {
    @apply text-[#034ec6];
  }
}

.nav-item::after {
  position     : absolute;
  bottom       : -15px;
  left         : 50%;
  border-radius: 50%;
}

.nav-item.active::after {
  content: '•';
}

.user-status {
  @apply bg-gray-100 drop-shadow-lg bottom-10 left-4 w-10 h-10 border border-zinc-300;
}

.resume-section {
  @apply text-base;
}

a.page-link:visited {
  color: purple;
}

article {
  h1 {
    @apply my-4 text-center;
  }

  #date {
    @apply text-sm my-2;
    font-style: italic;
  }

  img {
    @apply mx-auto my-6;
  }

  .analog-markdown {
    @apply my-4 text-zinc-800 font-normal;

    h2 {
      @apply text-lg my-4 text-zinc-800 font-medium;
      position: relative;
      /* &:before {
        content      : '';
        position     : absolute;
        border-radius: 5px;
        left         : -22px;
        top          : 0px;
      }

      &:hover {
        &:before {
          content: '🚀';
          opacity: 1;
        }
      } */
    }
    h2:before {
      content: '';
      position: absolute;
      left: -22px;
      top: 0;
      border-radius: 5px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    h2:hover:before {
      content: '';
      opacity: 1;
    }

    ul {
      @apply block list-disc list-inside ps-10;
    }

    ol {
      @apply list-decimal list-inside;

      li {
        @apply my-4 ps-10 list-item;

        p {
          all: unset;
        }
      }
    }

    p {
      @apply my-2;

      code {
        @apply bg-zinc-200 p-1 rounded-md;
      }
    }

    @media print {

      pre[class*='language-'],
      code[class*='language-'] {
        text-shadow: none;
      }
    }

    pre {
      @apply text-sm font-light;
      color     : #abb2bf;
      padding   : 1em;
      margin    : 0.5em 0;
      overflow  : auto;
      background: #2b303b;

      code {
        font-family: 'JetBrains Mono', monospace;
        display    : block;
        white-space: pre-wrap;
        overflow-x : auto;
      }
    }

    pre[class*='language-'] {
      @apply text-sm font-light;
      color     : #abb2bf;
      padding   : 1em;
      margin    : 0.5em 0;
      overflow  : auto;
      background: #2b303b;
    }

    :not(pre)>code[class*='language-'] {
      padding      : 0.1em 0.3em;
      border-radius: 0.3em;
      color        : #db4c69;
      background   : #1e1e1e;
    }

    .namespace {
      opacity: 0.7;
    }
  }
}