@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  @apply bg-gray-100;
}

h1 {
  @apply text-3xl font-extrabold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-medium;
}

p {
  @apply text-sm;
}

.greetings {
  font-family: 'Prata', cursive;
}

.link-wrapper {
  @apply text-zinc-700;
}

.link {
  @apply flex flex-row text-base text-zinc-700 gap-0.5 font-medium transition-all;
}

.link:hover {
  @apply text-zinc-900 cursor-pointer gap-1 transition-all;
}

.navbar {
  @apply flex flex-row items-center gap-4;
}

.nav-item {
  @apply flex flex-row items-center text-[#3273dc] cursor-pointer transition-all;

  &:hover {
    @apply text-[#034ec6];
  }
}

.nav-item::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  border-radius: 50%;
}

.nav-item.active::after {
  content: '•';
}

.user-status {
  @apply bg-gray-100 drop-shadow-lg bottom-6 left-1 w-10 h-10 border border-zinc-300;
}

.resume-section {
  @apply text-base;
}

article {
  h1 {
    @apply pb-8;
  }

  img {
    @apply mx-auto mb-6;
  }
}